# templates/core/services.html
{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Our Services</h1>

<div class="row">
    {% for service in services %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% if service.icon %}
                <img src="{{ service.icon.url }}" class="card-img-top" alt="{{ service.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ service.name }}</h5>
                <p class="card-text">{{ service.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}